#thietKeWebLuyenTapLayout {
    background: #fff;
    display: grid;
    grid:
        "header " 1fr
        "section1 " min-content
        "section2 " min-content
        "footer " 1fr/
        1fr;
    @media screen and (min-width: 600px) {
        grid:
            "header header" 1fr
            "section1 section1" min-content
            "section2 section2" min-content
            "footer footer" 1fr/
            1fr 2fr;
    }
    @media screen and (min-width: 800px) {
        grid:
            "header header header" 1fr
            "section1 section1 section1" min-content
            "section2 section2 section2" min-content
            "footer footer footer" 1fr/
            1fr 2fr 1fr;
    }
}
header {
    grid-area: header;
    .container {
        background: #737373;
        // display: flex;
        // flex-flow: row wrap;
        // justify-content: space-evenly;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        @media screen and (min-width: 600px) {
            grid:
                "logo slogan" 1fr
                "navbar navbar" 1fr /
                1fr 2fr;
        }
        @media screen and (min-width: 800px) {
            grid:
                "logo slogan slogan" 1fr
                "navbar navbar navbar" 1fr /
                1fr 2fr 1fr;
        }
    }
    // header > logo
    #logo {
        grid-area: logo;
        display: flex;
        justify-content: center;
    }
    // header > slogan
    #slogan {
        grid-area: slogan;
        display: flex;
        justify-content: center;

        font-size: 14px;
        font-family: "Courier New", Courier, monospace;
        a {
            color: #fff;
        }
    }

    // header > nav
    nav {
        grid-area: navbar;
        height: inherit;
        #list-item {
            display: flex;
            flex-flow: row wrap;
            list-style-type: none;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            .item {
                padding-bottom: 4px;
                border-width: 0;
                height: 75px;
                width: 200px;
                align-items: center;
                justify-content: center;
                display: flex;
            }
            .item > a.active {
                color: #2895cb;
            }
            .item > a {
                color: #fff;
                text-decoration: none;
                font-size: 18px;
            }
            .item:hover {
                border-bottom: 3px solid #2895cb;
                border-width: 100%;
                padding-bottom: 16px;
                transition: all 0.3s ease-in-out;
                cursor: pointer;
            }
        }
    }
}
/* --------------------------------------------- */
#section1 {
    grid-area: section1;
    padding: 16px;
    #HTML5 {
        text-align: center;
        color: #134e95;
        font-weight: 500;
        font-size: 40px;
    }
    p {
        text-align: center;
        font-size: 20px;
        font-weight: 100;
        code {
            color: rgb(233, 118, 118);
        }
    }
}
#section2 {
    grid-area: section2;
    padding: 16px;
    display: flex;
    flex-flow: row;
    p {
        text-align: justify;
        font-size: 20px;
        font-weight: 100;
    }
}
footer {
    grid-area: footer;
    background: #fafafa;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
