<section id="thietKeWebLuyenTapLayout">

    <!-- header start -->
    <header>
        <div class="container">
            <!-- logo -->
            <div id="logo">
                <a href="index.html"><img id="logo" src="assets/thiet-ke-web-luyen-tap-layout/images/newlogo.png"
                        height="48" alt="WD4E"></a>
            </div>

            <!-- name-and-slogan -->
            <div id="slogan">
                <div><a href="index.html">WD4E</a></div>
                <div> <a target="_blank" href="http://www.intro-webdesign.com">Web Design For Everybody</a></div>
            </div>

            <!-- main-navigation start -->
            <!-- ================ -->

            <!-- navbar start -->
            <!-- ================ -->
            <nav>
                <ul id="list-item">
                    <li class="item" routerLink="home" routerLinkActive='active'><a>Home</a></li>
                    <li class="item" routerLink="html5" routerLinkActive='active'><a>HTML5</a></li>
                    <li class="item" routerLink="css3" routerLinkActive='active'><a>CSS3</a></li>
                    <li class="item" routerLink="javascript" routerLinkActive='active'><a>JavaScript</a></li>
                    <li class="item" routerLink="responsive" routerLinkActive='active'><a>Responsive Design</a></li>
                    <li class="item" routerLink="resources" routerLinkActive='active'><a>Resources</a></li>
                </ul>
            </nav>
            <!-- navbar end -->
        </div>
    </header>
    <!-- header end -->

    <section>
        <router-outlet></router-outlet>
    </section>

    <!-- footer start -->
    <!-- ================ -->
    <footer>
        <p>Copyright &copy; 2015 by Colleen van Lent</p>
    </footer>
    <!-- footer end -->
</section>