<section [@flyInOut] *ngIf="lichthisvs" class="lichthisvs">
    <article>
        <div class="lichthisvs--container-column">
            <form class="lichthisvs--container--form">
                <div class="lichthisvs--container--form-column">
                    <mat-form-field class="full-width focusanimation">
                        <mat-label>Mã Số Sinh Viên.</mat-label>
                        <input matInput placeholder="Mã Số Sinh Viên." (keyup)="applyFilter($event)">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Năm học - học kỳ</mat-label>
                        <mat-select #namhoc (selectionChange)="selectStage($event)">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let nhhk of nhhklichsv" [value]="nhhk.nhhk">
                                {{nhhk.ten_nhhk}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <table mat-table [dataSource]="dataSource" *ngIf="dataSource" matSort class="mat-elevation-z8"
                matSortActive="bmssv" matSortDisableClear matSortDirection="desc" (matSortChange)="resetPaging()">
                <ng-container matColumnDef="bmssv">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã Số Sinh Viên. </th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="[ './', element.bmssv ]">{{element.bmssv}}</a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nhhk">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Năm học - Học Kỳ </th>
                    <td mat-cell *matCellDef="let element"> {{element.nhhk }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="full-width" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </article>
</section>
<section *ngIf="!lichthisvs" class="cover-black">
    <article>
        <div class="lichthisvs--container">
            <mat-spinner></mat-spinner>
        </div>
    </article>
</section>