$btn-control-font-size: 1rem;
$btn-report-font-size: 0.75rem;

.containers-banner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  @media only screen and (max-width: 425px) {
    flex-flow: column;
    position: unset;
  }
  &-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    background: #1690c4;
    color: #fff;
    margin: 0;
    padding: 16px;
    width: 100%;
    border-radius: 10px;
    text-transform: uppercase;
  }

  &-group-button {
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @media only screen and (max-width: 768px) {
      padding: 16px;
      width: 100%;
      justify-content: space-between;
      display: flex;
      background: #0e8cc1;
      border-radius: 4px;
      margin-top: 8px;
      position: initial;
    }
    @media only screen and (max-width: 425px) {
      position: fixed;
      z-index: 2;
      bottom: 0;
      height: 5em;
      padding: 0;
      margin: 0;
    }
  }
}
