<section>
    <article class="autocomplete-article">
        <h1>Combobox autocomplete table</h1>
        <!-- <app-combobox-autocomplete-table></app-combobox-autocomplete-table> -->
    </article>
    <article class="autocomplete-article">
        <h1>Combobox infinite scroll</h1>
        <form [formGroup]="form">
            <h4>mat-select</h4>
            <mat-form-field appearance="fill">
                <mat-label>Favorite Food</mat-label>
                <mat-select [formControl]="foodControl" name="food">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </article>
    <article class="autocomplete-article">
        <form [formGroup]="profileForm">

            <label for="first-name">First Name: </label>
            <input id="first-name" type="text" formControlName="firstName">

            <label for="last-name">Last Name: </label>
            <input id="last-name" type="text" formControlName="lastName">

        </form>
    </article>
</section>