<div class="container" [@transitionY]>
    <h2>Introduction</h2>
    <p>List of Technicle to communication with a template</p>
    <div class="overview">
        <div class="overview--left">
            <div class="center">
                <h1 class="overview--title">Module Overview</h1>
                <mat-icon class="module_overview_svg" svgIcon="module_overview"></mat-icon>
            </div>
        </div>
        <div class="overview--right">
            <ul class="list">
                <li class="item">Binding and structure directives</li>
                <li class="item">Two-way binding, the Long Way</li>
                <li class="item">Getters and Setters</li>
            </ul>
        </div>
    </div>
</div>