.example-card {
  max-width: 400px;
  margin-left: 1em;
  height: 100%;
}
.example-card:first-child {
  margin-left: 0;
}
.example-header-image {
  background-size: cover;
}
.example-header-image-list {
  display: flex;
  flex-flow: row wrap;
  background-size: cover;
}
.example {
  // &--container {
  //   display: flex;
  //   flex-flow: row wrap;
  // }
  &--container {
    display: grid;
    grid: auto-flow 1fr / repeat(auto-fit, 28em);
    justify-content: space-evenly;
    align-items: center;
    grid-gap: 1em;
  }
  &--image {
    width: 100%;
    height: auto;
    background-size: cover;
  }
}
.flex-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
