<section [@flyInOut] class="lichthisvs">
    <article>
        <div class="lichthisvs--container-column relative">
            <button mat-button class="left" [routerLink]="['/lichthisv']">
                <mat-icon class="font-icon">chevron_left</mat-icon>
            </button>
            <h1>Xin chào, {{bmssv}}</h1>
            <h1 *ngIf="nhhk" [@visibility]="state">{{nhhk.ten_nhhk}}</h1>
            <h2 *ngIf="!nhhk" class="waiting"></h2>
            <p>Lịch thi chi tiết</p>
            <!-- <button mat-button class="right">
                <mat-icon>chevron_right</mat-icon>
            </button> -->
        </div>

    </article>
    <article *ngIf="lichthisv" [@toggleTrigger]>
        <div class="lichthisvs--container-column">
            <form class="lichthisvs--container--form">
                <mat-form-field class="focusanimation">
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Tìm kiếm thông tin lịch thi"
                        #searchInput>
                </mat-form-field>
            </form>
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div>
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [@toggleTrigger]
                matSortActive="ma_mon_hoc" matSortDisableClear matSortDirection="desc" (matSortChange)="resetPaging()">
                <ng-container matColumnDef="ma_mon_hoc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã môn học. </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.ma_mon_hoc}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="ten_mon_hoc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên môn học </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_mon_hoc}} </td>
                </ng-container>

                <ng-container matColumnDef="hinh_thuc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hình thức </th>
                    <td mat-cell *matCellDef="let element"> {{element.hinh_thuc}} </td>
                </ng-container>

                <ng-container matColumnDef="ma_phong">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã phòng </th>
                    <td mat-cell *matCellDef="let element"> {{element.ma_phong}} </td>
                </ng-container>

                <ng-container matColumnDef="ngay_thi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Thi </th>
                    <td mat-cell *matCellDef="let element"> {{element.ngay_thi}} </td>
                </ng-container>

                <ng-container matColumnDef="nhom_thi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm thi </th>
                    <td mat-cell *matCellDef="let element"> {{element.nhom_thi}} </td>
                </ng-container>

                <ng-container matColumnDef="so_phut">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Số phút </th>
                    <td mat-cell *matCellDef="let element"> {{element.so_phut}} </td>
                </ng-container>

                <ng-container matColumnDef="so_tiet">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Tiết </th>
                    <td mat-cell *matCellDef="let element"> {{element.so_tiet}} </td>
                </ng-container>
                <ng-container matColumnDef="ten_phong">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên phòng </th>
                    <td mat-cell *matCellDef="let element"> {{element.ten_phong}} </td>
                </ng-container>
                <ng-container matColumnDef="tiet_bat_dau">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tiết bắt đầu </th>
                    <td mat-cell *matCellDef="let element"> {{element.tiet_bat_dau}} </td>
                </ng-container>
                <ng-container matColumnDef="to_thi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tờ thi </th>
                    <td mat-cell *matCellDef="let element"> {{element.to_thi}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="full-width" [pageSizeOptions]="[2,4,6]" showFirstLastButtons></mat-paginator>
        </div>
    </article>
</section>
<section *ngIf="!lichthisv" class="cover-black">
    <article>
        <div class="lichthisvs--container">
            <mat-spinner></mat-spinner>
        </div>
    </article>
</section>