ul.list-text {
  color: #52585b;
  list-style-type: none;
  padding: 0;
  li {
    font-size: 19px;
  }
}
.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
