.list-link {
  list-style-type: none;
  font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  li {
    background-image: linear-gradient(to bottom right, #007a78, #2b9e9c);
    height: 6rem;
    border-radius: 10px;
    font-family: Arial, Courier New, serif;
    margin: 5px;
    box-shadow: 4px 4px 4px 4px #0024245c;
    width: 100%;
    a {
      font-size: 24px;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    .graphic-text:hover {
      color: #ffc745;
    }
    .graphic-text:active {
      color: #ffc745;
      background-image: linear-gradient(to bottom right, rgb(12, 228, 224), #064f4d);
    }
  }
  li:hover {
    background-image: linear-gradient(to bottom right, rgb(12, 228, 224), #064f4d);
  }
}
.active {
  color: #ffc745;
  background-image: linear-gradient(to bottom right, rgb(12, 228, 224), #064f4d) !important;
}
// flex
// .container {
//   display: flex;
//   flex-flow: column nowrap;
//   font-size: 20px;
//   width: 100%;
//   min-width: 100%;
//   height: 100%;
//   min-height: 100%;
// }
// grid
.container {
  display: grid;
  font-size: 20px;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
}
.row-flex {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.column-flex {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.column {
  display: flex;
  flex-flow: column wrap;
  &--1 {
    width: 8.333333333333333%;
  }
  &--2 {
    width: calc(8.333333333333333% * 2);
  }
  &--3 {
    width: calc(8.333333333333333% * 3);
  }
  &--4 {
    width: calc(8.333333333333333% * 4);
  }
  &--6 {
    width: calc(8.333333333333333% * 6);
  }
  &--8 {
    width: calc(8.333333333333333% * 8);
  }
  &--10 {
    width: calc(8.333333333333333% * 10);
  }
  &--12 {
    width: calc(8.333333333333333% * 12);
  }
}
@media only screen and (max-width: 600px) {
  .list-link-flex {
    padding: 0;
    margin: 0;
    overflow: auto;
    flex-flow: row nowrap;
    li {
      height: 5rem;
      border-radius: 4px;
      margin: 0 3px;
      width: 16rem;
      a {
        font-size: 1rem;
      }
    }
  }
  .container {
    display: flex;
    flex-flow: column;
    font-size: 20px;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }

  .column {
    display: flex;
    flex-flow: column nowrap;
    &--1 {
      width: auto;
    }
    &--2 {
      width: auto;
    }
    &--3 {
      width: auto;
    }
    &--4 {
      width: auto;
    }
    &--6 {
      width: auto;
    }
    &--8 {
      width: auto;
    }
    &--10 {
      width: auto;
    }
    &--12 {
      width: auto;
    }
  }
}
