<div class="selection">
    <mat-form-field appearance="fill" *ngIf="selectionOptionList">
        <mat-label>{{selectionTitle}}</mat-label>
        <mat-select [(value)]="selectionError" name="selectOptionBy"
            (selectionChange)="selectionOptionBy($event.value)">
            <mat-option>Chưa chọn</mat-option>
            <mat-option *ngFor="let selectOption of selectionList" [value]="selectOption.value">
                {{selectOption.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="selection-required-message" *ngIf="!selectionError">Vui lòng chọn 1 điều kiện</span>
    <app-screen-list-guide [screenListGuideSelection]="screenListGuideSelection" *ngIf="!selectionOptionList">
    </app-screen-list-guide>
</div>