<section class="section">
    <header>
        <nav>
            <ul>
                <li><a routerLink="homepage" routerLinkActive="active">Home</a></li>
                <li><a routerLink="pies" routerLinkActive="active">Pies</a></li>
                <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
            </ul>
        </nav>
    </header>
    <router-outlet></router-outlet>
    <footer>
        <nav>
            <li><a routerLink="homepage" routerLinkActive="active">Home</a></li>
            <li><a routerLink="pies" routerLinkActive="active">Pies</a></li>
            <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
        </nav>
    </footer>
</section>