.mat-card-table {
  .mat-header-cell:first-child,
  .mat-cell:first-child {
    position: sticky !important;
    left: 0;
    z-index: 101 !important;
    background: inherit !important;
    @media screen and (max-height: 425px) {
      z-index: 0 !important;
    }
  }
  .mat-header-cell:last-child,
  .mat-cell:last-child {
    position: sticky !important;
    right: 0;
    z-index: 101 !important;
    background: inherit !important;
    @media screen and (max-height: 425px) {
      z-index: 0 !important;
    }
  }
  .mat-header-cell:first-child,
  .mat-header-cell:last-child {
    z-index: 102 !important;
    background: #128ec2 !important;
  }
  .mat-header-cell {
    top: 0 !important;
  }
}
