<form [formGroup]="myform" class="w-100">
<mat-form-field appearance="fill" floatLabel='never' appearance="outline" class="col-md-12 p-0" [ngClass]="{'disable':disable,'enable':!disable}">
    <mat-select  msInfiniteScroll (infiniteScroll)="getNextBatch()"
    [ngModel]="ctrl" formControlName="formcontrol" (valueChange)="onChange($event)" class="infinity-scroll-select">
        <mat-option>
            <ngx-mat-select-search
                [formControl]="searchCtrl"
                placeholderLabel="Tìm kiếm"
                [disableScrollToActiveOnOptionsChanged]="true"
                noEntriesFoundLabel="Không tìm thấy thông tin.">
            </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngIf="optionExtra && optionExtra.value && optionExtra.label" [value]="optionExtra.value" matTooltip="{{optionExtra.label}}" matTooltipPosition="right">
          {{optionExtra.label}}
        </mat-option>
        <mat-option *ngFor="let option of dataExtra" [disabled]="option.disabled" [value]="option.value" matTooltip="{{option.label}}" matTooltipPosition="right">
          {{option.label}}
        </mat-option>
        <mat-option *ngFor="let option of options$ | async" [disabled]="option.disabled" [value]="option.value" matTooltip="{{option.label}}" matTooltipPosition="right">
            {{option.label}}
        </mat-option>
    </mat-select>
    <button matSuffix class="btn-clear-input" mat-icon-button type="button" aria-label="Clear"
        *ngIf="clear && value" (click)="$event.stopPropagation();clearvalue()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="hasError()">{{getFormErrorMessage()}}</mat-error>
</mat-form-field>
</form>
<style>
.disable {
  pointer-events: none;
  background-color: rgb(217, 217, 217, 0.38);
}

.enable {
  pointer-events: unset;
  background-color: unset;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
</style>
