$btn-control-font-size: 1rem;
$btn-report-font-size: 0.75rem;
.danh-muc-container {
  height: 100%;
  font-size: 16px !important;
  font-family: "Roboto";
  padding: 8px;
  .containers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* rerest css container */
    padding: 0;
    margin: 0;
    width: 100%;
    .mat-checkbox-label {
      font-size: 16px !important;
    }

    &-banner {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      position: relative;
      @media only screen and (max-width: 425px) {
        flex-flow: column;
        position: unset;
      }
      &-title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        background: #1690c4;
        color: #fff;
        margin: 0;
        padding: 16px;
        width: 100%;
        border-radius: 4px;
      }

      &-group-button {
        position: absolute;
        right: 0;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        @media only screen and (max-width: 768px) {
          padding: 16px;
          width: 100%;
          justify-content: space-between;
          display: flex;
          background: #0e8cc1;
          border-radius: 4px;
          margin-top: 8px;
          position: initial;
        }
        @media only screen and (max-width: 425px) {
          position: fixed;
          z-index: 1000;
          bottom: 0;
        }
        &-add-button {
          font-size: $btn-control-font-size !important;
          background: rgb(221 104 47 / 100%);
          color: #fff;
          width: 200px;
          margin-right: 16px;
          border-radius: 4px;
          /* animation add-button */
          transform: translateY(0);
          box-shadow: 0px 0 0 black;
          transition: all 0.1s ease-in-out;
          @media only screen and (max-width: 768px) {
            width: 29%;
            height: 40px;
            margin: 8px;
          }
          &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            .mat-icon {
              margin-right: 8px;
            }
            @media screen and (max-width: 425px) {
              .text {
                display: none;
              }
              .mat-icon {
                margin: 0;
              }
            }
          }
        }
        &-add-button:hover {
          /* animation add-button */
          background: rgb(221 104 47 / 100%);
          box-shadow: 0px 3px 3px 3px hsl(0, 1%, 27%, 50%);
          transition: all 0.1s ease-in-out;
        }
        &-add-button:active {
          /* animation add-button */
          transform: translateY(1px);
          box-shadow: 0 0 0 black;
          transition: all 0.1s ease-in-out;
        }
        &-add-button:focus {
          outline: 0;
          box-shadow: 0px 3px 3px 3px hsl(0, 1%, 27%, 50%);
        }
      }
    }
    &-table {
      width: 100%;
      .mat-card-table {
        max-height: 450px !important;
        overflow: auto;
      }

      &-filter {
        width: 100%;
        &-form {
          min-width: 100%;
          max-width: 100%;
          width: 100%;
          &-field {
            width: 100%;
            &-label {
              @media only screen and (max-width: 425px) {
                font-size: 0.8em !important;
              }
            }
          }
        }
      }
      &-more-vert-button {
        display: flex;
        justify-content: center;
        align-items: center;
        /* style edit button */
        box-sizing: border-box;
        min-width: 40px;
        // border-radius: 4px;
        @media screen and (max-width: 425px) {
          width: auto;
        }
        border: 1px solid #316ffa;
        /* typography */
        color: #316ffa;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: $btn-control-font-size;
        line-height: 21px;
        /* animation add-button */
        transform: translateY(0);
        box-shadow: 0px 0 0 black;
        transition: all 0.1s ease-in-out;
        &-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          .mat-icon {
            margin-right: 8px;
          }
          @media screen and (max-width: 425px) {
            .text {
              display: none;
            }
            .mat-icon {
              margin: 0;
            }
          }
        }
      }
      &-more-vert-button:hover {
        background-color: #316ffa;
        color: #fff;
        /* animation add-button */
        box-shadow: 0px 3px 3px 3px hsl(0, 1%, 27%, 50%);
        transition: all 0.1s ease-in-out;
      }
      &-more-vert-button:active {
        /* animation add-button */
        transform: translateY(1px);
        box-shadow: 0 0 0 black;
        transition: all 0.1s ease-in-out;
      }
      &-more-vert-button:focus {
        outline: 0;
        background-color: #316ffa;
        color: #fff;
      }
    }
  }
  .example-section {
    margin: 12px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &-report-button {
      font-weight: 300;
      font-size: $btn-report-font-size;
    }
  }

  .example-margin {
    margin: 0 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .full-width,
  .search,
  .banner {
    width: 100%;
  }
  table {
    width: 100%;
  }
  .mat-row.hovered {
    background: #eee;
  }

  .mat-row.highlighted {
    background: #e3e9fc;
  }
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }

  th.mat-column-position,
  td.mat-column-position {
    padding-left: 8px;
  }

  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }

  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  .filter-list-result {
    font-size: 14px;
    font-weight: 300;
    color: red;
  }
  .clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
  }
  .no-outline {
    outline: 0;
  }
}
