$btn-control-font-size: 1rem;
$btn-report-font-size: 0.75rem;
.danh-muc-container {
  height: 150vh;
  font-size: 16px !important;
  font-family: "Roboto";
  padding: 8px;
  @media only screen and (max-width: 425px) {
    height: calc(100% + 111px);
  }
  .containers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /* rerest css container */
    padding: 0;
    margin: 0;
    width: 100%;
    .mat-checkbox-label {
      font-size: 16px !important;
    }
  }
}
