$btn-control-font-size: 1rem;
$btn-report-font-size: 0.75rem;
.containers-table {
  width: 100%;
  &-report-section {
    margin: 12px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &-report-button {
      font-weight: 300;
      font-size: $btn-report-font-size;
    }
    &-margin {
      margin: 0 12px;
      font-size: 14px;
      display: flex;
      align-items: center;
    }
  }
  &-filter {
    width: 100%;
    &-form {
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      &-field {
        width: 100%;
        &-label {
          @media only screen and (max-width: 425px) {
            font-size: 0.8em !important;
          }
        }
      }
    }
  }
  &-more-vert-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* style edit button */
    box-sizing: border-box;
    min-width: 40px;
    // border-radius: 4px;
    @media screen and (max-width: 425px) {
      width: auto;
    }
    border: 1px solid #316ffa;
    /* typography */
    color: #316ffa;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: $btn-control-font-size;
    line-height: 21px;
    /* animation add-button */
    transform: translateY(0);
    box-shadow: 0px 0 0 black;
    transition: all 0.1s ease-in-out;
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      .mat-icon {
        margin-right: 8px;
      }
      @media screen and (max-width: 425px) {
        .text {
          display: none;
        }
        .mat-icon {
          margin: 0;
        }
      }
    }
  }
  &-more-vert-button:hover {
    background-color: #316ffa;
    color: #fff;
    /* animation add-button */
    box-shadow: 0px 3px 3px 3px hsl(0, 1%, 27%, 50%);
    transition: all 0.1s ease-in-out;
  }
  &-more-vert-button:active {
    /* animation add-button */
    transform: translateY(1px);
    box-shadow: 0 0 0 black;
    transition: all 0.1s ease-in-out;
  }
  &-more-vert-button:focus {
    outline: 0;
    background-color: #316ffa;
    color: #fff;
  }
}
