<mat-drawer-container class="example-container" autosize color="primary">
  <mat-drawer color="primary" #drawer class="example-sidenav" mode="side">

  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="toolbar-app">
      <!-- <button color="primary" type="button" mat-button (click)="drawer.toggle()" appHightlight>
        <mat-icon>menu</mat-icon>
      </button> -->
      <div class="flex-row">
        <a class="text-left" mat-button [routerLink]="['tested']" routerLinkActive="active" appHightlight>Tested</a>
        <a class="text-left" mat-button [routerLink]="['customers']" routerLinkActive="active"
          appHightlight>Customers</a>
        <a class="text-left" mat-button [routerLink]="['orders']" routerLinkActive="active" appHightlight>Orders</a>
        <a class="text-left" mat-button [routerLink]="['testapi']" routerLinkActive="active" appHightlight>Test API</a>
        <a class="text-left" mat-button [routerLink]="['history-interview']" routerLinkActive="active"
          appHightlight>Lịch sử phỏng vấn</a>
        <a class="text-left" mat-button [routerLink]="['thiet-ke-web-luyentap']" routerLinkActive="active"
          appHightlight>Thiết kế web luyện tập</a>
      </div>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>