<mat-drawer-container class="example-container" autosize color="primary">
  <mat-drawer color="primary" #drawer class="example-sidenav" mode="side">

  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar class="toolbar-app">
      <button color="primary" type="button" mat-button (click)="drawer.toggle()" appHightlight>
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button [routerLink]="['tested']" routerLinkActive="active" appHightlight>Tested</a>
      <a mat-button [routerLink]="['customers']" routerLinkActive="active" appHightlight>Customers</a>
      <a mat-button [routerLink]="['orders']" routerLinkActive="active" appHightlight>Orders</a>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>