<main>
    <aside class="aside">
        <!-- <img src="assets/pies/logo.png" alt="patheny's pies shop"> -->
        <img src="assets/pies/logo.svg" alt="patheny's pies shop">
    </aside>
    <article>
        <section class="columns-desktop">
            <div class="pie">
                <img class="pie-img-responsive" src="assets/pies/1.png" alt="Apple pie">
                <div class="columns">
                    <div class="title">Apple Pie</div>
                    <div class="price">$12.95</div>
                </div>
                <p class="desc">Our famous apple pie</p>
                <button data-order="apple-pie">Order</button>
            </div>
            <div class="pie">
                <img class="pie-img-responsive" src="assets/pies/2.png" alt="Cherri pie">
                <div class="columns">
                    <div class="title">Cherri Pie</div>
                    <div class="price">$12.95</div>
                </div>
                <p class="desc">Our famous cherri pie</p>
                <button data-order="cherri-pie">Order</button>
            </div>
        </section>
    </article>
</main>