<section>
    <article class="blog-article">
        <div class="blog-article-graphic">
            <div class="blog-article-graphic-text">
                <h1>Welcome to RXJS</h1>
                <p>This is a best practices of RXJS</p>
            </div>
        </div>
    </article>
    <app-canceling-oservation></app-canceling-oservation>
    <mat-tab-group class="sticky">
        <mat-tab label="CATEGORY OF OPERATORS">
            <app-rx-operator></app-rx-operator>
        </mat-tab>
    </mat-tab-group>
</section>