<section>
    <article class="blog-article">
        <h1>Welcome to RXJS</h1>
        <p>This is a best practices of RXJS</p>
    </article>
    <article class="blog-article">
        <h1>Subcribing to Observables with Oservers</h1>
        <div class="blog-article-graphic">
            <div class="blog-article-graphic-text">
                <p>CANCELING OBSERVABLES EXECUTION</p>
            </div>
        </div>
        <button id="timerButton">canceling execution</button>
        <div id="times"></div>
    </article>
</section>