.containers-table-filter {
  width: 100%;
  &-form {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    &-field {
      width: 100%;
      &-label {
        color: rgb(14 140 193/84%);
        @media only screen and (max-width: 425px) {
          font-size: 0.8em !important;
        }
      }
      &-input {
        margin: 8px;
      }
    }
  }
}
