<div *ngIf="screenListButton">
    <button mat-button color="primary" class="add-button" (click)="emit($event)">
        <span class="add-button-icon">
            <mat-icon svgIcon="{{screenListButton.svgIcon}}"></mat-icon>
        </span>
    </button>
</div>
<mat-expansion-panel class="none-template-property" *ngIf="!screenListButton" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <code>{{codeObjectName}}</code>
        </mat-panel-title>
        <mat-panel-description>
            <p class="color-red">Chưa có <code>[{{codeObjectName}}]="{{codeObjectName}}"</code> bên ngoài template
                <code><{{codeTagName}}></code>
            </p>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="none-template-property-usage">
        <p>{{'Ví dụ cách gọi và cách cài đặt dữ liệu:'|uppercase}}</p>
        <u>Cách gọi:</u>
        <div class="none-template-property-code">
            <code class="codee">{{codeExample}}</code>
        </div>
        <div class="none-template-property-file">
            <u>Cách cài đặt dữ liệu:</u>
            <p>Ví dụ như bên trong file <code>{{codeFileName}}</code> thì cài đặt dữ liệu <code>screenListButton</code>
                trong onInit và sự kiện <code>EventEmitter</code> tương ứng.</p>
            <div class="none-template-property-file-name">
                {{codeFileName}}
            </div>
            <div class="none-template-property-code">
                <p>Thiết lập đầy đủ</p>
                <code class="codee">{{codeExampleFile}}</code>
                <div class="none-template-property-code">
                    <p>hoặc sử dụng thiết lập sẵn và có thể thêm thiết lập mới tương tự.</p>
                    <code class="codee">{{codeExampleFile2}}</code>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>