<div *ngIf="screenListButton">
    <button mat-button color="primary" class="add-button" (click)="emit($event)">
        <span class="add-button-icon">
            <mat-icon svgIcon="{{screenListButton.svgIcon}}"></mat-icon>
        </span>
    </button>
</div>
<div class="none-template-property" *ngIf="!screenListButton">
    <p>Chưa có [{{codeObjectName}}]="{{codeObjectName}}" bên ngoài template "{{codeTagName}}"</p>
    <div class="none-template-property-usage">
        Cách sử dụng:
        <pre><code class="none-template-property-code">{{codeExample}}</code></pre>
    </div>
    <div class="none-template-property-file">
        <p>Bên trong file {{codeFileName}} cài đặt dữ liệu screenListButton trong onInit và sự kiện tương ứng.</p>
        <div class="none-template-property-file-name">
            {{codeFileName}}
        </div>
        <pre><code class="none-template-property-file-area">{{codeExampleFile}}</code></pre>
    </div>
</div>