.selection {
  .mat-form-field {
    @media screen and (max-width: 425px) {
      width: 87vw;
    }
  }
  .mat-form-field-wrapper {
    padding: 0;
    margin: 4px;
    .mat-form-field-underline {
      width: 0;
    }
  }
  .mat-form-field-flex {
    border-radius: 10px !important;
    border: 1px solid #0e8cc1 !important;
    background-color: #fff !important;
    padding: 8px 24px !important;
    height: 60px !important;
    min-width: 230px !important;
    // min-width: 296px !important;
    .mat-form-field-label {
      color: #0e8cc1;
    }
    .mat-select-arrow {
      color: #0e8cc1;
    }
  }
  &-required-message {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: rgba(255, 0, 0, 0.84);
    margin: 4px;
    padding: 0 24px;
  }
}
