<main>
    <aside class="aside">
        <!-- <img src="assets/pies/logo.png" alt="patheny's pies shop"> -->
        <img src="assets/pies/logo.svg" alt="patheny's pies shop">
    </aside>
    <article>
        <img class="responsive-img" src="assets/pies/billboard-cake-jav.png" alt="patheny'spies shop banner">
        <h1>Welcome to Batheny's Pie Shop</h1>
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non est vitae libero tincidunt
            dapibus. Etiam porttitor massa eu est vestibulum, eu blandit risus interdum. Morbi vitae mi id ante
            rutrum consequat nec non est. Phasellus nibh massa, tempor commodo eleifend ac, aliquam ac nisi. Sed
            convallis vel lectus at pulvinar. Praesent pellentesque tortor vitae ultrices volutpat. Integer ex
            lectus, aliquet non cursus id, ornare non massa. Nam ante eros, dictum quis porttitor a, pulvinar
            eget tortor. Morbi euismod, massa ut mollis facilisis, ex urna mollis elit, eget commodo massa felis
            in ex. Donec non rhoncus ex. Nunc ac condimentum mauris. Cras elementum volutpat purus ut
            scelerisque. Etiam sapien diam, placerat vel vulputate id, rutrum et libero. Nulla venenatis lectus
            a feugiat finibus.
            <a routerLink="pies" (click)="gotopies()">Browse our pies</a>
        </p>
    </article>
</main>