.none-template-property {
  border-radius: 10px !important;
  border: 1px solid #0e8cc1 !important;
  background-color: #fff !important;
  padding: 1em;
  margin-bottom: 16px;
  &-code {
    border: solid thin #c4c4c4;
    padding: 0.25rem;
    border-radius: 0.25em;
    color: rgb(0 0 0/84%);
  }
}
.none-template-property-code {
  border: solid thin #c4c4c4;
  padding: 0.25rem;
  border-radius: 0.25em;
  color: rgb(0 0 0/84%);
}
